<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p class="attention"><%= content %></p>
    <form method ="post" action="/">
      <p>
        <input type="radio" name="select"value="グー"> グー
        <input type="radio" name="select"value="チョキ"> チョキ
        <input type="radio" name="select"value="パー"> パー
      </p>
        <input type="submit" name="Click" value="決戦へ" formaction="/result" class="b">　　 
  </form>
  </body>
</html>
